body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  min-height: 100vh;
}

#root {
  height: 100%;
}
.logo-image {
  width: 80%;
  border-radius: 80%;
  align-self: center;
  max-width: 100%;
}

.ant-layout-footer {
  background: #cee0fd;
}

.app-footer {
  border-style: solid;
  border-top-width: 5px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: #001641;
}

/* Make the page a flex container */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the page takes up the full viewport height */
}

/* Main content should grow to fill available space */
.content-wrap {
  flex: 1;
}

/* Footer will always stick to the bottom */
.AppFooter {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
}
